body {
  font-family: "Poppins", sans-serif;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  border: 1px solid #444;
}

.auth-card h2 {
  font-weight: 600;
}

.auth-card .form-control {
  background-color: #111;
  border: 1px solid #333;
  color: #fff;
}

.auth-card .form-control:focus {
  background-color: #000;
  color: #fff;
  border-color: #888;
  box-shadow: none;
}

.btn-light {
  background-color: #f5f5f5;
  color: #000;
  border: none;
}

.btn-light:hover {
  background-color: #ddd;
}

.text-info {
  color: #0dcaf0 !important;
}
